@model IEnumerable<Models.Role>

@{
	string strTitle = "List of Roles";

	ViewBag.Title = strTitle;
}

<h2>
	@strTitle
</h2>

<div class="row">
	<div class="col-sm-12 links">
		@Html.ActionLink("Create A New Role",
			MVC.Roles.Create())
	</div>
</div>

<div class="row">
	<div class="col-sm-12 table-responsive">
		<table class="table table-bordered table-condensed table-striped table-hover">
			<tr>
				<th></th>
				<th>
					@*Active*@
					@*فعال*@
					@Html.DisplayNameFor(model => model.IsActive)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.ActionLink("Details", MVC.Roles.Details(item.Id)) |
						@Html.ActionLink("Edit", MVC.Roles.Edit(item.Id)) |
						@Html.ActionLink("Delete", MVC.Roles.Delete(item.Id))
					</td>
					<td>
						@*@if (item.IsActive)
							{
								<text>Yes</text>
							}
							else
							{
								<text>No</text>
							}*@

						@Html.DisplayFor(modelItem => item.IsActive)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
				</tr>
			}
		</table>
	</div>
</div>
